<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="ProtonPack.T4"
		 providerName="System.Data.SqlClient"
		 connectionString="Server=tcp:venkman-dev.database.windows.net,1433;Database=WebThree;User ID=gozer;Password=Gh0st Bust3rs!;Trusted_Connection=False;Encrypt=True;" />
	</connectionStrings>
</configuration>