<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="ProtonPack"
		 providerName="System.Data.SqlClient"
		 connectionString="Server=tcp:venkman-dev01.database.windows.net,1433;Database=Zuul_DEV;User ID=gozer_dev;Password=Pr0t0n P4ck!@!;Trusted_Connection=False;Encrypt=True;" />
     <!--connectionString="Server=tcp:venkman-prod.database.windows.net,1433;Database=TheChive;User ID=gozer_prod;Password=Gh05t Bu5t3r5!@!;Trusted_Connection=False;Encrypt=True;" />-->
  </connectionStrings>
</configuration>