<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="ProtonPack"
		 providerName="System.Data.SqlClient"
		 connectionString="Server=tcp:**server**,1433;Database=**DB**;User ID=**UserID**;Password=**Password**;Trusted_Connection=False;Encrypt=True;" />
     <!--connectionString="Server=tcp:**server**,1433;Database=**DB**;User ID=**UserID**;Password=**Password**;Trusted_Connection=False;Encrypt=True;" />-->
  </connectionStrings>
</configuration>